@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --background: #fffdf9;
  --red: #ff0000;
  --green: #00bc61;
  --yellow: #ffae00;
  --black: #1e1e1e;
}

body {
  font-family: "Istok Web", sans-serif;
  background-color: var(--background)
}

header {
  display: flex;
  justify-content: flex-end;


  nav {
    margin: 1rem;

  }

  nav a {
    text-decoration: none;
    color: var(--black);
    font-size: 1em;
    padding: 0.5rem 0.4rem;
    transition: 0.3s;
  }

  nav a:first-of-type {
    border: 1.5px solid var(--red);

    &:hover {
      background-color: var(--red);
      color: var(--background);
    }

    &:active {
      border-width: 0.2px;
      transition: 0.1s;
    }
  }

  nav a:last-of-type {
    border: 1.5px solid var(--yellow);
    margin-left: 0.5rem;

    &:hover {
      background-color: var(--yellow);
      color: var(--background);
    }

    &:active {
      border-width: 0.2px;
    }
  }
}

section.container {
  margin: 3rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;

  h1 {
    font-size: 3em;
    margin-bottom: 1rem;
    text-align: center;
  }

  article {
    width: 70%;
    align-self: center;

    p {
      font-size: 1.2em;
    }
  }

  section.search {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;


    input {
      border: 1.5px solid var(--black);
      padding: 0.7rem 0.4rem;
      margin-bottom: 1rem;

    }

  }
}

.search-button,
.save-button,
.pin-btn,
.remove-btn {
  cursor: pointer;
  align-self: flex-end;
  appearance: none;
  color: var(--black);
  font-family: "Istok Web", sans-serif;
  font-size: 1em;
  padding: 0.5rem 0.4rem;
  transition: 0.3s;
  background-color: var(--background);
  border: 1.5px solid var(--green);

  &:active {
    border-width: 0.2px;
    transition: 0.3s;
  }
}
.save-btn{
  width: 50%;
}
.search-button {
  background-color: var(--background);
  border: 1.5px solid var(--green);

  &:hover {
    background-color: var(--green);
    color: var(--background);
  }
}

.save-btn, .remove-btn {
  background-color: var(--background);
  border: 1.5px solid palevioletred;

  &:hover {
    background-color: palevioletred;
    color: var(--background);
  }
}
.fav-btn-container, .save-btn-container{
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

.remove-btn, .pin-btn, .save-btn{
  padding: 0.2rem 0.2rem;
  font-size: 0.6em;
  width: 25%;
}
.pin-btn {
  background-color: var(--background);
  border: 1.5px solid rgb(25, 0, 212);

  &:hover {
    background-color: rgb(25, 0, 212);
    color: var(--background);
  }
}
}
hr {
  width: 100%;
  border: none;
  background-color: var(--black);
  height: 0.07rem;
}

section.search-cat {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  margin: 5rem 0 5rem 0;
  figure {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 500px){
    grid-template-columns: repeat(1, auto);
  }
}